body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container{
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 10px 20px 300px; /* Define el ancho de cada columna */
}

.sidebar {
  width: 150px;
  height: 100vh;
  background-color: #bc1414;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.menu li .svg-inline--fa {
  font-size: 35px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.content h1 {
  margin-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 0.5rem;
  left: 100px;
  align-items: stretch;
  justify-content: space-between;
  max-height: 80px;
  border-radius: 10px;
}

.item-label {
  color: #999999;
}

.item-value {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
}

/* Estilos específicos para la tabla de React Bootstrap */
.react-bootstrap-table {
  width: 100%;
  border-collapse: collapse;
}

.react-bootstrap-table th,
.react-bootstrap-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.react-bootstrap-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.react-bootstrap-table td:first-child {
  font-weight: bold;
}
